header{

    background-image: linear-gradient(to top , rgba(0,0,0,.7) , rgba(0,0,0,.7)), url(../images/2012.i032.008..isometric\ smart\ home.jpg);
    
     background-size: cover;
     height:100vh;
 }
 h1{
     padding-top: 120px;
 }
 .header-link{
     border-radius:3px;
 }
 .nav a{
     color: aliceblue;
 }
 #topBtn{
 background-color: rgba(0, 255, 255, 0.732);
 display: none;
 position: fixed;
 bottom: 20px;
 right: 2px;
 border: none;
 border-radius: 5px;
 padding: 10px 15px;
 color: white;
 cursor: pointer;
 font-size: 16px;
}
#topBtn:hover{
  background-color: #0056b3;
}
.contact{
    background-color: black;
    margin-top: 10px;
    padding: 10px 50px;
}
.contact p{
    color: rgba(0, 255, 255, 0.732);
}
.contact h4{
    color: white;
}
.face{
    color: #1b7dc7;
}
.twi{
    color: #74C0FC;}
.insta{
    color: #f13a83;
}